body {
    padding: 0;
    margin: 0;
    background-color: #ecf0f1;
}
   


    
#game {
    cursor: none;
   	height:600px; 
    width:800px; 
    background-colr:#34495e;
    margin:auto; 
    padding-top:25px;
    padding-bottom:25px;
}
#container {
	height:650px;	
	width:850px;
	margin:auto;
	background-color:#2c3e50;
}

#banner {
	width:850px;
	height:300px;
	margin:auto; 
	margin-top:0px;
}

#banner img {
	width:850px;	
}



