body {
    padding: 0;
    margin: 0;
    background-color: #2980b9;
}
   


    
#game {
    cursor: none;
   	height:600px; 
    width:800px; 
    background-colr:#34495e;
    margin:auto; 
    margin-top:15px;
}

#banner {
	width:850px;
	height:240px;
	margin:auto; 
	background-color:#16a085;
	margin-top: 20px;
	
}


